Email Validation

### Intro

After a little research it became apparent that the current validators using `FILTER_VALIDATE_EMAIL` is not quite perfect (`Phalcon\Mvc\Model\Validator\Email` and `Phalcon\Validation\Validator\Email`).

Below I will give a small example test.

### Emails

These and many other, more exotic, but real email addresses are valid (see [RFC822](http://www.ietf.org/rfc/rfc0822.txt?number=822), [RFC2822](http://tools.ietf.org/html/rfc2822), [RFC2821](http://tools.ietf.org/html/rfc2821), [RFC3696](http://tools.ietf.org/html/rfc3696))
```
"Joe\\Blow"@example.com
john@doe.com
john.doe@site.com
john_doe@site.com
john_doe@domain.site.com
john@doe-site.com
"Abc@def"@example.com
j.o.h.n@d.o.e.com
isposable.style.email.with+symbol@example.com
john@localhost
j.o.h.n@my.c
"Fred Bloggs"@example.com
```

### Tests

Let us proceed for tests

```php
<?php

function validateViaRegexp($email, $strict = false)
{
    if (mb_strlen($email) > 254) {
        return false;
    }

    if ($strict) {
        $qtext = '[^\\x0d\\x22\\x5c\\x80-\\xff]';
        $dtext = '[^\\x0d\\x5b-\\x5d\\x80-\\xff]';
        $atom  = '[^\\x00-\\x20\\x22\\x28\\x29\\x2c\\x2e\\x3a-\\x3c\\x3e\\x40\\x5b-\\x5d\\x7f-\\xff]+';
        $pair  = '\\x5c[\\x00-\\x7f]';

        $domain_literal = "\\x5b($dtext|$pair)*\\x5d";
        $quoted_string  = "\\x22($qtext|$pair)*\\x22";
        $sub_domain     = "($atom|$domain_literal)";
        $word           = "($atom|$quoted_string)";
        $domain         = "$sub_domain(\\x2e$sub_domain)*";
        $local_part     = "$word(\\x2e$word)*";

        $expression     = "/^$local_part\\x40$domain$/D";
    } else {
        $expression = '/^[-_a-z0-9\'+*$^&%=~!?{}]++(?:\.[-_a-z0-9\'+*$^&%=~!?{}]+)*+@(?:(?![-.])[-a-z0-9.]+(?<![-.])\.[a-z]{2,6}|\d{1,3}(?:\.\d{1,3}){3})$/iD';
    }

    return (bool) preg_match($expression, (string) $email);
}

function validateViaFilter($email)
{
    return (bool) filter_var($email, FILTER_VALIDATE_EMAIL);
}

$emails = [
    '"Joe\\Blow"@example.com',
    'john@doe.com',
    'john.doe@site.com',
    'john_doe@site.com',
    'john_doe@domain.site.com',
    'john@doe-site.com',
    '"Abc@def"@example.com',
    'j.o.h.n@d.o.e.com',
    'isposable.style.email.with+symbol@example.com',
    'john@localhost',
    'j.o.h.n@my.c',
    '"Fred Bloggs"@example.com'
];


echo 'Validate Via Regexp (non strict)<br>';
$start = microtime(true);
foreach ($emails as $email) {
    echo(sprintf('%s is valid: %s<br>', $email, validateViaRegexp($email, false) ? 'TRUE' : 'FALSE'));
}
echo(sprintf('Total time: %.10f sec.<hr>', microtime(true) - $start));


echo 'Validate Via Regexp (strict)<br>';
$start = microtime(true);
foreach ($emails as $email) {
    echo(sprintf('%s is valid: %s<br>', $email, validateViaRegexp($email, true) ? 'TRUE' : 'FALSE'));
}
echo(sprintf('Total time: %.10f sec.<hr>', microtime(true) - $start));


echo 'Validate Via Filter<br>';
$start = microtime(true);
foreach ($emails as $email) {
    echo(sprintf('%s is valid: %s<br>', $email, validateViaFilter($email) ? 'TRUE' : 'FALSE'));
}
echo(sprintf('Total time: %.10f sec.<hr>', microtime(true) - $start));
```

### Output

```
Validate Via Regexp (non strict)
"Joe\Blow"@example.com is valid: FALSE
john@doe.com is valid: TRUE
john.doe@site.com is valid: TRUE
john_doe@site.com is valid: TRUE
john_doe@domain.site.com is valid: TRUE
john@doe-site.com is valid: TRUE
"Abc@def"@example.com is valid: FALSE
j.o.h.n@d.o.e.com is valid: TRUE
isposable.style.email.with+symbol@example.com is valid: TRUE
john@localhost is valid: FALSE
j.o.h.n@my.c is valid: FALSE
"Fred Bloggs"@example.com is valid: FALSE
Total time: 0.0000591278 sec.
---------------------------------------------------------------------------------------
Validate Via Regexp (strict)
"Joe\Blow"@example.com is valid: TRUE
john@doe.com is valid: TRUE
john.doe@site.com is valid: TRUE
john_doe@site.com is valid: TRUE
john_doe@domain.site.com is valid: TRUE
john@doe-site.com is valid: TRUE
"Abc@def"@example.com is valid: TRUE
j.o.h.n@d.o.e.com is valid: TRUE
isposable.style.email.with+symbol@example.com is valid: TRUE
john@localhost is valid: TRUE
j.o.h.n@my.c is valid: TRUE
"Fred Bloggs"@example.com is valid: TRUE
Total time: 0.0000748634 sec.
---------------------------------------------------------------------------------------
Validate Via Filter
"Joe\Blow"@example.com is valid: TRUE
john@doe.com is valid: TRUE
john.doe@site.com is valid: TRUE
john_doe@site.com is valid: TRUE
john_doe@domain.site.com is valid: TRUE
john@doe-site.com is valid: TRUE
"Abc@def"@example.com is valid: TRUE
j.o.h.n@d.o.e.com is valid: TRUE
isposable.style.email.with+symbol@example.com is valid: TRUE
john@localhost is valid: FALSE
j.o.h.n@my.c is valid: TRUE
"Fred Bloggs"@example.com is valid: FALSE
Total time: 0.0001180172 sec.
---------------------------------------------------------------------------------------
```

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7769600-email-validation?utm_campaign=plugin&utm_content=tracker%2F50707&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F50707&utm_medium=issues&utm_source=github).
</bountysource-plugin>

Good and probably completely validating email addresses regexp:

http://ex-parrot.com/~pdw/Mail-RFC822-Address.html

@sergeyklay you are right.
Regex looking like when you read it you will summon a satan, but FILTER_VALIDATE_EMAIL not covers all Email RFC's

The only two addresses your regexp validates and filter_var() doesn't are:

```
john@localhost
"Fred Bloggs"@example.com
```

But the big question is: which email provider allows such email addresses?

For example john@localhost can be address from intranet (local company network with own mail server)

@maxgalbu you have a RFC and filter_var don't validate all RFC emails. It's a bug, and nothing more.
+1 to @sergeyklay 

Premise: It's not my intention to be controversial, just trying to make the right choice

@sergeyklay I'm ok with the RFCs. The thing is: if you have an online website (not on an intranet) how do you forbid those email? Surely you don't want those email to be used?

Besides this, PHP > 5.2.14 and hhvm > 3.3.0 support john@localhost:

http://3v4l.org/rFSbO

Searching for "filter_var email bug" i found these:

- https://bugs.php.net/bug.php?id=49576
- https://bugs.php.net/bug.php?id=50431

I agree with rasmus@php.net comment:

> I am not disagreeing that local domains are invalid per the RFC, but I do think 
that in most cases Web apps probably don't have a use for these cases since they 
don't resolve outside of the local environment. I suppose some Intranet web apps 
would find this useful, but the bulk of Internet apps would need to add a second 
check to make sure that it wasn't a non external SMTP-able address that 
validated. I would suggest that the few cases where you do want local single-
domain addresses to validate you add a simple check in front of filter_var. They 
are easy to check for.

> Many other, more exotic, but real email addresses are valid but filter_var() doesn't validates

Can you show them?

After test with filter_var, it's better to test the presence of mx records:
```php
list($login, $domain) = explode('@', $value, 2);
$return = checkdnsrr($domain, 'MX');
```

:+1: 

@maxgalbu 

* Wikipedia: [Email_address — Validation and verification](http://en.wikipedia.org/wiki/Email_address#Validation_and_verification)

Wikipedia: International examples
* Latin Alphabet (with diacritics): Pelé@example.com
* Greek Alphabet: δοκιμή@παράδειγμα.δοκιμή
* Traditional Chinese Characters: 我買@屋企.香港
* Japanese Characters: 甲斐@黒川.日本
* Cyrillic Characters: чебурашка@ящик-с-апельсинами.рф


At least I know about using e-mail addresses with symbols of national coding Russia (after commissioning IPv6)



@sergeyklay your regexp doesn't cover those emails: http://sandbox.onlinephpfunctions.com/code/d17a9a316dada4c048012ea918ad31e3c6dae980

We could integrate in phalcon through zephir these classes: https://github.com/egulias/EmailValidator IF @phalcon and @egulias agrees so you don't have to reinvent the wheel. It doesn't say which RFCs it supports though.

@RickyGit that code won't work with this email: "Abc@def"@example.com (exploding on the first @) and won't work with this: чебурашка@ящик-с-апельсинами.рф (because checkdnsrr() accepts ascii domains). 

@maxgalbu 
> @sergeyklay your regexp doesn't cover those emails

yes, my not. I just pointed a problem

Hi there!
Current implementation of the EmailValidator covers UTF8 emails (RFCs 6530, 6531, 6532 and also Gmail started accepting them mid-2014) and initially RFCs 4291, 5321, 5322, 5952. You can look at the [tests](https://github.com/egulias/EmailValidator/blob/master/tests/egulias/Tests/EmailValidator/EmailValidatorTest.php#L37) for further information.
If I can help with the integration just let me know.

As credentials, EmailValidator is soft dependency of [Symfony >= 2.5](https://github.com/symfony/Validator/blob/master/composer.json#L40) and is part of [Drupal 8](https://github.com/drupal/drupal/blob/8.0.x/core/composer.json#L31); Swiftmailer integration is being done too.

Нуе фтщерук issue related to `FILTER_VALIDATE_EMAIL`:

```php
$postfix = '@domain.com';

var_dump(strlen($postfix)); // 11
var_dump(filter_var(str_repeat('a', 64) . $postfix, FILTER_VALIDATE_EMAIL)); // 75
var_dump(filter_var(str_repeat('a', 65) . $postfix, FILTER_VALIDATE_EMAIL)); // 76
```

Output:

> int(11)

> string(75)  "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa@domain.com"

> bool(false)

Email containing greater than 75 chars always invalid. At least for ASCII

Hi @sergeyklay 
Following [RFC 5321 section 4.5.3.1.1](http://www.rfcreader.com/#rfc5321_line2848) local parts should not exceed 64 octets. So it is correct to be an invalid email.
Also, domain parts can not exceed 254 octets (RFC 5321 section 4.5.3.1.2).

@egulias How about to integrate the EmailValidator to Phalcon? :)

Sure!
I'll work on this after DPCon 2015 this June . I'll send the PR.
El 5/6/2015 8:31 a. m., "Serghei Iakovlev" <notifications@github.com>
escribió:

> @egulias <https://github.com/egulias> How about to integrate the
> EmailValidator to Phalcon? :)
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/phalcon/cphalcon/issues/3227#issuecomment-109175770>.
>


:+1: 

@sergeyklay which branch should I use as a base branch? 2.0.x?

@egulias yes, 2.0.x

Sorry for the delay. I have a doubt. Do I have to port the validator into .zep_ If not, can you point me to the docs?
Thanks!

Zephir is very similar to Php. In any case you can use http://zephir-lang.com/ docs

@egulias 

Sorry for the delay @sergeyklay I've been and currently are under heavy work load so it's been impossible for me to move forward on this.
I do have some questions:
* Correct me if I'm wrong but I should probably create a new repo and a new lib in composer to add as a dependency, right?
* The validator depends on Doctrine's lexer I should probably convert that too.
* is https://github.com/fezfez/php-to-zephir an option for a quick conversion?

Thanks and sorry.

Hi @egulias 

It depends on how exactly you want integrate the EmailValidator to Phalcon.

In my humble opinion it would be cool if the EmailValidator has become part of the Phalcon. So it became part of the Phalcon, it needs to be rewritten in Zephir and implemented in Phalcon. Of course have to give up all external dependencies. In this scenario, you do not need to have another repository - EmailValidator will be a part of the Phalcon.

Please let me know if you want to integrate in another way.
